# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

notebooks/DATA/
notebooks/databook_python-master/